* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  color: #33475B;
}

/* header */
header{
  width: 100%;
  height: 800px;
}

/* navbar */

/* container_nav_bar_top */
.container_nav_bar_top{
  width: 100%;
  height: 60px;
  background-color: #F4F9FD;
}

/* .navbar_top */
.navbar_top{
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: #F4F9FD;
}

.navbar_top_left, .navbar_top_right{
  width: 50%;
  height: 100%;
  position: relative;
}
/* contents navbar_top_left and navbar_top_right */
.navbar_top_left ul, .navbar_top_right ul{
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
}
.navbar_top_right ul{
  right: 0;
}

.navbar_top li, .navbar_bottom li{
  list-style: none;
  display: inline-block;
}
ul a, ul li{
  text-decoration: none;
  color: #33475B;
  padding: 0 10px;
  font-size: 13px;
}
.navbar_top_left ul:first-child li{
  padding: 0 10px 0 0;
}
.contact_us{
  border-left: 1px solid grey;
}

.lens_search{
  color: #0CA8C0;
}
.login{
  border-radius: 10px;
  padding:10px;
  background-color: white;
  color: #FE775A;
  border-color: #FE775A;
  font-size: 13px;
}
.get_hub_spotfree{
  border-radius: 10px;
  padding: 10px;
  background-color: #FE775A;
  color: white;
  border-color: white;
  font-size: 13px;
}
/* /contents navbar_top_left and navbar_top_right */

/* container_nav_bar_bottom */
.container_nav_bar_bottom{
  width: 100%;
  height: 60px;
  background-color: white;
}
/* .navbar_bottom */
.navbar_bottom{
  width: 80%;
  height: 60px;
  margin: 0 auto;
}

.navbar_bottom_left img{
  width: 100px;
}
.navbar_bottom_left{
  width: 35%;
}
.navbar_bottom_right{
  width: 65%;
}
.navbar_bottom_left, .navbar_bottom_right{
  height: 100%;
  position: relative;
}
/* contents navbar_bottom_left and navbar_bottom_right */
.navbar_bottom_left img, .navbar_bottom_right ul{
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
}

.navbar_bottom_right ul{
  right: 0;
}

/* /.navbar_bottom */
/* container header bottom */
.container_header_bottom{
  width: 100%;
  height: calc(800px - 120px); /*altezza header - le altezze della navbar*/
  background-color: #FFF4EF;
  background-image: url(img/jumbotron.png);
  background-size: contain 120%;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}
.container_contents_header_bottom{
  width: 80%;
  margin: 0 auto;
}
.banner_header{
  max-width: 35%;
  position: relative;
  top: 60px;
}
.banner_header h1{
 font-size: 50px;
}
.banner_header p{
  margin: 20px 0;
  line-height: 30px;
}
.banner_header a{
  color: white;
  line-height: 60px;
  padding: 20px;
  border-radius: 10px;
  background-color: #FE775A;
  text-decoration: none;
}
/*separatore*/
.separatore{
  width: 200%;
  height: 80px;
  color: white;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
  background-color: #AFEBE4;
  position: absolute;
  bottom: 0;
}
/*/separatore*/

/* /container header bottom */
/* /header */


/* main */
main{
  background-color: lightgrey;
}
/* section */
.container_section{
  width: 80%;
  background-color: lightblue;
  margin: auto;
}
.first_section{
  width: 100%;
  height: 200px;
  background-color: lightgreen;
}
.second_section{
  width: 100%;
  height: 200px;
  background-color: lightgreen;
}

.section_top{
  width: 100%;
  height: 50%;
  background-color: red;
}
.section_bottom{
  width: 100%;
  height: 50%;
  background-color: orange;
}
/* /section */
/* /main */


/* footer */
.container_footer{
  width: 80%;
  margin: 0 auto;
}
.footer_top{
  height: 70%;
  background-color: purple;
}
.footer_bottom{
  height: 30%;
  background-color: pink;

}
/* /footer */


/*UTILITY CLASS*/
.clearfix{
  content: "";
  display: table;
  clear: both;
}
.float_left{
  float: left;
}
/*/UTILITY CLASS*/
